@import 'variables';

//* General
body {
  background-color: $main-light;
}

.body--dark {
  background-color: $main-dark;
}

a {
  color: #1E88E5;
}

a:hover {
  color: #1e88e5bf;
}

button:focus-visible {
  outline: $tab-outline--light;
}

::selection {
  color: #1E88E5;
}


//* header components
%header-border {
  border-bottom: 5px solid transparent;
}

%header-bkg__text {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

//* feedback components
%feedback-properties {
  opacity: 0;
  border-radius: 5px;
}

.feedback-message {
  @extend %feedback-properties;
}

//*Added Through JS
.feedback-message {
  color: $main-light;
  background-color: $main-dark;
}

.feedback-message--dark {
  color: $main-dark;
  background-color: $main-light;
}

//* letters components
%letters--light-border {
  border: 1px solid #bebebe;
  border-radius: 5px;
}

%letters--dark-border {
  border: 1px solid #999999;
  border-radius: 5px;
}

%keyboard-letter--properties {
  @extend %flex-object--centered;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

@mixin letters--theme($bkg, $color, $box-shadow) {
  background-color: $bkg;
  color: $color;
  box-shadow: $box-shadow;
}

//* header
header {
  @supports (border-image: $blue-gradient--light 1) {
    border-image: $blue-gradient--light 1;
  }
  border-color: #1E88E5; // fallback for older browsers
  @extend %header-border; 
  .header__title {
    background-image: $-webkit-blue-gradient--light;
    background-image: $blue-gradient--light;
    background-color: #1E88E5; // fallback for older browsers
    @extend %header-bkg__text;
  }
  button {
    background-color: transparent;
    border: none;
    -webkit-user-select: none;
    user-select: none;
  }
}

.header--dark {
  @supports (border-image: $blue-gradient--dark 1) {
    border-image: $blue-gradient--dark 1;
  }
  border-color: #46a4f7; // fallback for older browsers
  .header__title--dark {
    background-image: $-webkit-blue-gradient--dark;
    background-image: $blue-gradient--dark;
    background-color: #8ecafc; // fallback for older browsers
  }
}

//* game-board

//** light-theme
.game-board__letter {
  @include letters--theme(transparent, $letter-color--light, $box-shadow--light);
  @extend %letters--light-border;
  -webkit-user-select: none;
  user-select: none;
}

.game-board__letter--missing {
  @include letters--theme($letter-bkg--missing-light, $letter-color--missing-light, $box-shadow--light);
}

.game-board__letter--close {
  @include letters--theme($letter-bkg--close-light, $letter-color--close-light, $box-shadow--light);
}

.game-board__letter--correct {
  @include letters--theme($letter-bkg--correct-light, $letter-color--correct-light, $box-shadow--light);
}

//** dark-theme
.game-board__letter--dark {
  @include letters--theme(transparent, $letter-color--dark, $box-shadow--dark);
  @extend %letters--dark-border;
}

.game-board__letter--missing-dark {
  @include letters--theme($letter-bkg--missing-dark, $letter-color--missing-dark, $box-shadow--dark);
  @extend %letters--dark-border;
}

.game-board__letter--close-dark {
  @include letters--theme($letter-bkg--close-dark, $letter-color--close-dark, $box-shadow--dark);
  @extend %letters--dark-border;
}

.game-board__letter--correct-dark {
  @include letters--theme($letter-bkg--correct-dark, $letter-color--correct-dark, $box-shadow--dark);
  @extend %letters--dark-border;
}

//* keyboard
//** light-theme
.keyboard {
  background-image: $-webkit-keyboard-bkg--light;
  background-image: $keyboard-bkg--light;
  background-color: #7f8c8d; // fallback for old browsers
  border-radius: 15px;
}

.keyboard__letter:focus-visible {
  outline: $tab-outline--light;
}

.keyboard__letter {
  @include letters--theme($letter-bkg--light, $letter-color--light, $box-shadow--light);
  @extend %keyboard-letter--properties;
  -webkit-user-select: none;
  user-select: none;
}

.keyboard__letter--missing {
  @include letters--theme($letter-bkg--missing-light, $letter-color--missing-light, $box-shadow--light);
}

.keyboard__letter--close {
  @include letters--theme($letter-bkg--close-light, $letter-color--close-light, $box-shadow--light);
}

.keyboard__letter--correct {
  @include letters--theme($letter-bkg--correct-light, $letter-color--correct-light, $box-shadow--light);
}

//* dark-theme
.keyboard--dark {
  background-image: $-webkit-keyboard-bkg--dark;
  background-image: $keyboard-bkg--dark;
  background-color: #d7e1ec; // fallback for old browsers
}

.keyboard__letter--dark:focus-visible {
  outline: $tab-outline--dark;
}

.keyboard__letter--dark {
  @include letters--theme($letter-bkg--dark, $letter-color--dark, $box-shadow--dark);
}

.keyboard__letter--missing-dark {
  @include letters--theme($letter-bkg--missing-dark, $letter-color--missing-dark, $box-shadow--dark);
}

.keyboard__letter--close-dark {
  @include letters--theme($letter-bkg--close-dark, $letter-color--close-dark, $box-shadow--dark);
}

.keyboard__letter--correct-dark {
  @include letters--theme($letter-bkg--correct-dark, $letter-color--correct-dark, $box-shadow--dark);
}

//* Dialogs
dialog {
  color: $dialog-color--light;
  background-color: $dialog-bkg--light;
  border: 2px solid $main-dark;
  border-radius: 7px;
}

.dialog--dark {
  color: $dialog-color--dark;
  background-color: $dialog-bkg--dark;
  border: 2px solid $main-light;
}

dialog::backdrop {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.close-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  -webkit-user-select: none;
  user-select: none;
}

.settings__row:first-child,
.how-to-play__row:first-child {
  background-image: $blue-gradient--light;
  background-image: $-webkit-blue-gradient--light;
  background-color: #1E88E5; // fallback for older browsers
  @extend %header-bkg__text;
}

.row-separator {
  background-color: $main-dark;
}

.row-separator--dark {
  background-color: $main-light;
}

//* Theme
.theme-switch {
  background-color: #ffac45;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.theme-switch--dark {
  background-color: #0093fa;
}

.switch__checkbox {
  opacity: 0;
  cursor: pointer;
}

.switch-slider {
  border-radius: 50%;
  transition: transform 0.5s;
  img:last-child {
    opacity: 0;
  }
  background-color: $main-light;
  padding: 10px;
}

.switch__checkbox:checked + .switch-slider {
  img:first-child {
    opacity: 0;
  }
  img:last-child {
    opacity: 1;
  }
  transform: translateX(-25px);
}

//** how to play dialog

.fake-game-row {
  -webkit-user-select: none;
  user-select: none;
}

//* light theme
.fake-letter {
  @include letters--theme(transparent, $letter-color--light, $box-shadow--light);
  @extend %letters--light-border;
  font-weight: 700;
}

.fake-letter--missing {
  @include letters--theme($letter-bkg--missing-light, $letter-color--missing-light, $box-shadow--light);
}

.fake-letter--close {
  @include letters--theme($letter-bkg--close-light, $letter-color--close-light, $box-shadow--light);
}

.fake-letter--correct {
  @include letters--theme($letter-bkg--correct-light, $letter-color--correct-light, $box-shadow--light);
}

//* dark theme
.fake-letter--dark {
  @include letters--theme(transparent, $letter-color--dark, $box-shadow--dark);
  @extend %letters--dark-border;
}

.fake-letter--missing-dark {
  @include letters--theme($letter-bkg--missing-dark, $letter-color--missing-dark, $box-shadow--dark);
  @extend %letters--dark-border;
}

.fake-letter--close-dark {
  @include letters--theme($letter-bkg--close-dark, $letter-color--close-dark, $box-shadow--dark);
  @extend %letters--dark-border;
}

.fake-letter--correct-dark {
  @include letters--theme($letter-bkg--correct-dark, $letter-color--correct-dark, $box-shadow--dark);
  @extend %letters--dark-border;
}

.how-to-play__headings {
  color: $main-light;
  background-color: $main-dark;
  padding: 20px;
  border-radius: 15px;
}

.how-to-play__headings--dark {
  color: $main-dark;
  background-color: $main-light;
}

.info-subheader {
  padding: 15px;
  border-radius: 25px;
  -webkit-user-select: none;
  user-select: none;
}

.subheader-text {
  color: $main-light;
  background-color: $main-dark;
  border-radius: 10px;
}

.subheader-text--dark {
  color: $main-dark;
  background-color: $main-light;
}

.centering-container {
  @extend %flex-object--centered;
}

.how-to-play__list {
  color: $main-light;
  background-color: $main-dark;
  padding-block: 10px;
  padding-inline: 40px;
  border-radius: 20px;
  list-style-type: circle;
  li:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

.how-to-play__list--dark {
  color: $main-dark;
  background-color: $main-light;
}