@import url(components/typography.scss);
@import url(components/layout.scss);
@import url(components/design.scss);
@import url(components/animations.scss);

@import 'components/variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0px;
  cursor: default;
}