//* global variables
%flex-object--centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
//***********

//* fonts.scss
$fallback-fonts: "Inconsolata", "Ubuntu Mono", "Roboto Mono", monospace;
//***********

//* design.scss
$box-shadow--light: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$box-shadow--dark: rgba(205, 205, 162, 0.25) 0px 2px 5px -1px, rgba(255, 255, 255, 0.3) 0px 1px 3px -1px;
//***********