@import "variables";

//* Feedback Animations
@keyframes feedback-message-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(30%);
  }
}

@keyframes feedback-message-fade-out {
  0% {
    opacity: 1;
    transform: translateY(30%);
  }

  100% {
    opacity: 0;
    transform: translateY(0%);
  }
}

.fade-in-feedback {
  animation: feedback-message-fade-in 0.5s ease-in-out forwards;
}

.fade-out-feedback {
  animation: feedback-message-fade-out 0.5s ease-in-out forwards;
}

//* Game-board Animations
// General properties
.game-board__letter {
  overflow: hidden;
  backface-visibility: hidden;
}

// game-board cells typing animation
@keyframes pop-box {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.15;
  }

  100% {
    scale: 1;
  }
}

@keyframes swipe-right {
  0% {
    transform: translateX(-500%);
  }

  100% {
    transform: translateX(0);
  }
}

//* Added Through JS
.letter-adding {
  animation: pop-box 0.2s ease-out, swipe-right 0.2s ease-out forwards;
}

@keyframes swipe-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-500%);
  }
}

//* Added Through JS
.letter-removing {
  animation: swipe-left 0.2s ease-in forwards;
}

@keyframes rotate-cell {
  50% {
    scale: 0.1;
  }

  100% {
    rotate: 1 1 1 360deg;
  }
}

//* Added Through JS
.game-board-validation {
  animation: rotate-cell 1s ease-out;
}

@keyframes giggle-row {
  0% {
    transform: translateX(-2px);
  }
  20% {
    transform: translateX(4px);
  }
  30% {
    transform: translateX(-4px);
  }
  40% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  60% {
    transform: translateX(4px);
  }
  70% {
    transform: translateX(-4px);
  }
  80% {
    transform: translateX(4px);
  }
  90% {
    transform: translateX(-4px);
  }
}

@keyframes rejection-cell {
  0% {
    border: 2px solid #A22023;
  }

  100% {
    border: 2px solid #A22023;
  }
}

.row-rejection {
  animation: giggle-row 0.5s ease-in-out;
}

.cell-rejection {
  animation: rejection-cell 0.6s ease-in-out;
}

//* Keyboard Animations

@keyframes validation-animation {
  20% {
    color: transparent;
  }

  40% {
    rotate: 0 1 0 100deg;
    color: #f5f5f5;
    background-color: #f5f5f5;
  }

  80% {
    color: transparent;
  }

  100% {
    rotate: 0 1 0 0deg;
  }
}


// keyboard click typing animation
@keyframes letter-click {
  100% {
    opacity: 0.85;
    scale: 0.9;
    translate: 0 2px;
  }
}

@keyframes backspace-click {
  100% {
    opacity: 0.85;
    scale: 0.9;
    translate: 0 2px;
    background-color: #b22222;
  }
}

@keyframes enter-click {
  100% {
    opacity: 0.85;
    scale: 0.9;
    translate: 0 2px;
    background-color: #5d9b55;
  }
}

//* Added Through JS
.keyboard-validation {
  animation: validation-animation 1s ease-in-out;
}

// keyboard typing animation
//* Added Through JS
.letter-typing {
  animation: letter-click 0.1s ease-out forwards;
}

//* Added Through JS
.backspace-typing {
  animation: backspace-click 0.1s ease-out forwards;
}

//* Added Through JS
.enter-typing {
  animation: enter-click 0.1s ease-out forwards;
}

//* media queries

// for mobile devices with touch pointers
@media (hover: none) and (pointer: coarse) {
  .keyboard__letter:active {
    animation: letter-click 0.15s ease-out forwards;
  }

  .backspace-button:active {
    animation: backspace-click 0.15s ease-out forwards;
  }

  .enter-button:active {
    animation: enter-click 0.15s ease-out forwards;
  }
}

// for desktop devices with a mouse
@media (hover: hover) and (pointer: fine) {
  .keyboard__letter:hover {
    opacity: 0.85;
    transform: scale(1.03) translateY(-3px);
  }

  .keyboard__letter:active {
    animation: letter-click 0.1s ease-out forwards;
  }

  .backspace-button:active {
    animation: backspace-click 0.1s ease-out forwards;
  }

  .enter-button:active {
    animation: enter-click 0.1s ease-out forwards;
  }
}

//* Dialogs Animations

@keyframes dialog-entry {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

.dialog-entry {
  animation: dialog-entry 0.5s ease-out forwards;
}

@keyframes dialog-exit {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 0;
  }
  100% {
    transform: translateY(-100%);
  }
}

.dialog-exit {
  animation: dialog-exit 0.5s ease-in forwards;
}

@keyframes snake-move {
  50% {
    transform: translateY(-50%);
  }
}

.fake-game-row:hover {
  @for $i from 0 through 5 {
    :nth-child(n + #{$i}) {
      animation: snake-move 0.3s ease-in-out (0.1s * $i);
    }
  }
}